* div a{
	text-decoration: none;
	
}


.button1{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #C2C4C4;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #E3E6E6;

}

.button2{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #4897F7;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #4897F7;


}

.button3{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #1FBF21;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #1FBF21;


}

.button4{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #08D1E2;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #08D1E2;


}

.button5{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FFC13C;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FFC13C;


}

.button6{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FF6994;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FF6994;


}

.button7{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #ECECEC;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FDFDFD;


}

.button8{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #4897F7;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FDFDFD;


}

.button9{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #1FBF21;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FDFDFD;


}

.button10{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #08D1E2;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FDFDFD;


}

.button11{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FFC13C;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FDFDFD;


}

.button12{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FF6994;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #FDFDFD;


}

.button13{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #C2C4C4;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #E3E6E6;


}

.button14{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #4897F7;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #4897F7;


}

.button15{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #1FBF21;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #1FBF21;


}

.button16{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #08D1E2;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #08D1E2;


}

.button17{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FFC13C;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FFC13C;


}

.button18{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FF6994;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FF6994;


}

.button19{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #ECECEC;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FDFDFD;


}

.button20{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #4897F7;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FDFDFD;


}

.button21{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #1FBF21;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FDFDFD;


}

.button22{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #08D1E2;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FDFDFD;


}

.button23{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FFC13C;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FDFDFD;


}

.button24{
	float: left;
	width: 150px;
	height: 50px;
	border: 1px solid #FF6994;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #FDFDFD;


}

.button25{
	float: left;
	width: 100px;
	height: 40px;
	border: 1px solid #C2C4C4;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #E3E6E6;


}

.button26{
	float: left;
	width: 100px;
	height: 40px;
	border: 1px solid #4897F7;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #4897F7;


}

.button27{
	float: left;
	width: 100px;
	height: 40px;
	border: 1px solid #1FBF21;
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	border-radius: 30px;
	background-color: #1FBF21;


}

.button28{
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid #08D1E2;
	margin: 10px 10px 10px 10px;
	font-size: 45px;
	text-align: center;
	border-radius: 30px;
	background-color: #08D1E2;



}

.button29{
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid #FFC13C;
	margin: 10px 10px 10px 10px;
	font-size: 45px;
	text-align: center;
	border-radius: 30px;
	background-color: #FFC13C;


}

.button30{
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid #FF6994;
	margin: 10px 10px 10px 10px;
	font-size: 45px;
	text-align: center;
	border-radius: 30px;
	background-color: #FF6994;

}